!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Corporation ltd.</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1250" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/menu.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/style.css" />
<style type="text/css">


div.wrap1 .wrap2 {
  background-image: url(img/bg1.gif);
}


</style>
</head>
<body>
<div class="wrap1">
  <div class="wrap2">
    <div class="logo">
      <% if User.is_there_current_user %>
      <div class="slogan">
        <h3>Здравей, <%= User.current_user.name %> </h3>
        <h3> <a href="/favourites">Любими</a> </h3>
        <h3> <a href="/logout">Изход</a> </h3>
      </div>
      
      <% else %>
      <div class="register_form">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value ="Влез">
        </form>
      </div>
      <div class="register">
          <h3><a href="/register">Регистрация</a></h3>
      </div>
      <% end %>
    </div>
    <div id="menu">
      <div class="menu">
        <ul>
          <li><span class="hlavny_"><a href="/">Начало</a></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="hlavny_"><a href="/top">Топ 10</a></span></li>
          <li><img src="img/divider2.png" alt="" /></li>
          <li><span class="hlavny_"><a href="/search">Търсене</a></span></li>
        </ul>
      </div>
      <div class="info"> This text is describing selected item. You may give here advertisement, informations etc. Whatever! </div>
      <div class="leftpanel">
        <div class="header">Тип на заведението</div>
        <ul id="categories">
          <% Type.all.each do |type| %>
          <li><a href="/categories/<%= type.id %>"><%= type.plural_name %></a></li>
          <% end %>
        </ul>
        <br />
        <div class="header">Office</div>
        <div class="text"> <strong>Corporation ltd.</strong><br />
          <br />
          212 Military Parkway<br />
          <span class="divider">Los Angeles, CA 94043</span> Telephone: +421 903 000 000<br />
          E-mail: e-mail@domain.com<br />
          ICQ: 000-000-000<br />
          Skype: corporation1<br />
          <br />
        </div>
      </div>
      <div class="mainpanel">
        <% @result_places.each do |place| %>
        <div class="text_">
          <h1><a href="http://www.free-css.com/"><%= place.name %> </a></h1>
          <div class="text">
            <img src="/img/<%= place.main_picture_path %>" width="140" height="120" alt="" /> <%= place.description %><br />
          </div>

          <div class="clearfix"></div>

          <h2><a href="http://www.free-css.com/"><img src="img/more.gif" alt="" />Read more</a> <a href="http://www.free-css.com/"><img src="img/comment.gif" alt="" />Comments (<%= Comment.comments_of_place(place.id).size %>)</a></h2>
        </div>
        <% end %>
      </div>

    </div>
    <div class="info1">
      <div style="display:inline; float:left;">&copy; 2008 <a href="http://www.free-css.com/">yourwebsite.com</a>. Design <a href="http://pbcreations.sk">P&amp;B Creations</a>.</div>
      <div style="display:inline; float:right;"><a href="http://www.topas-tachlovice.cz/topas-tachlovice.aspx">Tachlovice</a></div>
    </div>
  </div>
</div>
</body>
</html>
