<div class="mainpanel">
  <div class="text_">
    <h1><a href="/<%= @place.id %>"><%= @place.name %> </a></h1>
    <div class="text__">
      <img src="/img/<%= @place.main_picture_path %>" width="160" height="140" alt="" /> 
      <h3>Тип на заведението: <%= @place_type %></h3>
      <%= @place.description %><br/>
      <div class="clearfix"></div>

      <% if PlaceFinder::User.is_there_current_user %> 
        <div class="favourite">
          <% if not @is_favourite %>
          <form action="/add_to_favourites" method="post">
              <input type="hidden" name="place_id" value="<%= @place.id %>">
              <input type="submit" value ="Добави към любими">
          </form>
          <% else %>
          <form action="/remove_from_favourites" method="post">
              <input type="hidden" name="place_id" value="<%= @place.id %>">
              <input type="submit" value ="Премахни от любими">
          </form>
          <% end %>
        </div>

        <div class="clearfix"></div>
        <div class="vote">
          <% unless @voted_already %>
          <form action="/vote" method="post">
            <input type="hidden" name="place_id" value="<%= @place.id %>">
            <div class="dropdown">
              <select name="vote">
                <option value="0">Дай оценка</option>
                <% 1.upto(5).each do |rating| %>
                  <option value="<%= rating %>" ><%= rating %></option>
                <% end %>
              </select>
              <input type="submit" value="Гласувай" > 
              <% end %> Оценка: <%= @rating %>
            </div>
          </form>
        </div>
      <% end %>

      <div class="clearfix"></div>

      <ul id="tabs">
          <li class="active"><a href="#contentMap">На картата</a></li>
          <li><a href="#contentPictures">Снимки</a></li>
          <li><a href="#contentComments">Коментари(<%= @comments.size %>)</a></li>
      </ul>

      <div class="content" id="contentMap">
        <div class="clearfix"></div>
        <div id="map-canvas" style="height: 300px; width: 560px;"></div>
        Адрес: жк. <%= @residential_complex_name %>
        <span id="place_address"><%= ", " + @address.street + " " + @address.street_number.to_s %></span>
      </div>

      <div class="content" id="contentPictures">
        <div class="galleria">
          <% @pictures_for_place.each do |picture| %>
            <img src="/img/<%= picture.picture_path %>">
          <% end %>
        </div>
      </div>

      <div class="content" id="contentComments">
        <% @comments.reverse_each do |comment| %>
        <div class="comment" >
          <div class="date" >
            <%= comment.date.strftime("Публикувано на %m/%d/%Y в %I:%M%p") %>
            <%= "от " + PlaceFinder::User.username_from_id(comment.user_id) %>
          </div>
          <div class="text_comment">
            <%= comment.comment %>
          </div>
        </div>             
        <% end %>

        <% if PlaceFinder::User.is_there_current_user %>
        <form action="/comment" method="post">
          <input type="hidden" name="place_id" value="<%= @place.id %>">
          <textarea name="comment_text" id="comment" rows="3" cols="40" placeholder="Напиши коментар"></textarea>
          <div class="clearfix"> </div>
          <input onclick="return check_if_empty();" type="submit" value="Изпрати">
        </form>
        <% end %>
      </div>
    </div>
  </div>
</div>