<div class="mainpanel">
  <div class="text_">
    <h1><a href="/<%= @place.id %>"><%= @place.name %> </a></h1>
    <div class="text__">
      <img src="/img/<%= @place.main_picture_path %>" width="160" height="140" alt="" /> 
      <h3>Тип на заведението: <%= Type.type_name_by_id(@place.type_id) %></h3>
      <% if User.is_there_current_user %> 
        <div class="favourite">
          <% if not Favourite.already_favourite?(User.current_user.id, @place.id) %>
          <form action="/add_to_favourites" method="post">
              <input type="hidden" name="place_id" value="<%= @place.id %>">
              <input type="submit" value ="Добави към любими">
          </form>
          <% else %>
          <form action="/remove_from_favourites" method="post">
              <input type="hidden" name="place_id" value="<%= @place.id %>">
              <input type="submit" value ="Премахни от любими">
          </form>
          <% end %>
          <form action="/vote" method="post">
            <div class="dropdown">
              <select name="type">
                <option value="0">Дай оценка</option>
                <% 1.upto(5).each do |rating| %>
                  <option value="<%= rating %>" ><%= rating %></option>
                <% end %>
              </select>
            </div>
            <input type="submit" value="Гласувай" >
          </form>
        </div>
      <% end %>
      <div class="clearfix"></div>
      <%= @place.description %><br/>
    </div>
    <div class="clearfix"></div>
    <div id="map-canvas" style="height: 300px; width: 350px;"></div>
    Адрес: <% address = Address.address_by_place_id @place.id %>
    жк. <%= ResidentialComplex.residential_complex_name_by_id(address.residential_complex_id) %>
    <span id="place_address"><%= ", " + address.street + " " + address.street_number.to_s %></span>

    <div class="galleria">
      <% Picture.pictures_for_place(@place.id).each do |picture| %>
        <img src="/img/<%= picture.picture_path %>">
      <% end %>
    </div>
    <script>
        Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
        Galleria.run('.galleria');
    </script>

    <h2> <img src="img/comment.gif" alt="" />
      Коментари (<%= Comment.comments_of_place(@place.id).size %>)</a></h2>
    <% if User.is_there_current_user %>
    <form action="/comment" method="post">
      <input type="hidden" name="place_id" value="<%= @place.id %>">
      <textarea name="comment_text" id="comment" rows="3" cols="40" placeholder="Напиши коментар"></textarea>
      <div class="clearfix"> </div>
      <input onclick="return check_if_empty();" type="submit" value="Изпрати">
      <script>
        function check_if_empty()
        {
          if(document.getElementById("comment").value == '')
          {
              alert("Полето за коментар е празно!");
              return false;
          }
          return true;
        }
      </script>
    </form>
    <% end %>

    <% Comment.comments_of_place(@place.id).reverse_each do |comment| %>
    <div class="comment" >
      <div class="date" >
        <%= comment.date.strftime("Публикувано на %m/%d/%Y в %I:%M%p") %>
        <%= "от " + User.username_from_id(comment.user_id) %>
      </div>
      <div class="text_comment">
        <%= comment.comment %>
      </div>
    </div>             
    <% end %>
  </div>
</div>